<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         cacheResultFile="var/cache/.phpunit.result.cache"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">tests/Functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="PHPUNIT_TEST_SUITE" value="1"/>
        <env name="APP_DEBUG" value="1" force="true"/>
        <!-- Don't cache result -->
        <const name="PHPUNIT_TESTSUITE_RESULTCACHE" value="0"/>
    </php>
</phpunit>
